html, body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Lato", sans-serif;
  background-color: #F5F5F3;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding-top: 25px; }

svg {
  height: 100%;
  width: 100%; }

.wrap {
  max-width: 1200px;
  min-width: 920px;
  margin: 0 auto; }

.vertical-center-table {
  display: table;
  height: 100%;
  width: 100%; }
  .vertical-center-table .vertical-center-cell {
    display: table-cell;
    vertical-align: center;
    width: 100%; }

.central-unit {
  position: relative;
  height: 100%;
  width: 90%;
  max-width: 850px;
  min-width: 850px;
  margin: 0 auto;
  font-size: 12px; }

.element, .central-unit__base .acumulator, .central-unit__base .memory, .central-unit__base .counter, .central-unit__base .address, .register, .register-x, .register-y, .extension-rb, .extension-g, .extension-ws, .extension-f {
  border: 1px solid #000;
  background: #F5F5F3;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .element:hover, .central-unit__base .acumulator:hover, .central-unit__base .memory:hover, .central-unit__base .counter:hover, .central-unit__base .address:hover, .register:hover, .register-x:hover, .register-y:hover, .extension-rb:hover, .extension-g:hover, .extension-ws:hover, .extension-f:hover {
    background: #D3D6CD; }
  .element__data, .central-unit__base .acumulator__data, .central-unit__base .memory__address, .central-unit__base .memory__verbal {
    z-index: 2;
    background: none;
    outline: none;
    width: 100%;
    height: 25px;
    text-align: center;
    border: 1px solid #000;
    font-size: 12px;
    font-family: "Helvetica Neue", "Lato", sans-serif;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
    .element__data:hover, .central-unit__base .acumulator__data:hover, .central-unit__base .memory__address:hover, .central-unit__base .memory__verbal:hover {
      background: rgba(0, 0, 0, 0.3); }
    .element__data:focus, .central-unit__base .acumulator__data:focus, .central-unit__base .memory__address:focus, .central-unit__base .memory__verbal:focus {
      background: rgba(255, 0, 0, 0.3); }

.central-unit__base {
  position: relative;
  height: 300px;
  width: 100%;
  border-top: 3px double #000;
  border-bottom: 3px double #000; }
  .central-unit__base::before {
    display: block;
    position: absolute;
    right: 0px;
    top: -20px;
    content: attr(data-top-bus); }
  .central-unit__base::after {
    display: block;
    position: absolute;
    right: 0px;
    bottom: -20px;
    content: attr(data-down-bus); }
  .central-unit__base .acumulator {
    position: absolute;
    bottom: 40px;
    top: 90px;
    right: 325px;
    width: 150px; }
    .central-unit__base .acumulator::before {
      display: block;
      position: absolute;
      left: 10px;
      top: 4px;
      content: attr(data-name) ":"; }
    .central-unit__base .acumulator__data {
      position: absolute;
      top: -31px;
      margin-top: 30px;
      border-right: none;
      border-left: none; }
  .central-unit__base .memory {
    position: absolute;
    bottom: 50px;
    top: 50px;
    right: 50px;
    width: 175px; }
    .central-unit__base .memory ::-webkit-scrollbar {
      width: 13px;
      height: 13px; }
    .central-unit__base .memory ::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.3); }
    .central-unit__base .memory ::-webkit-scrollbar-track {
      background: rgba(216, 216, 216, 0.65); }
    .central-unit__base .memory body {
      scrollbar-face-color: rgba(0, 0, 0, 0.3);
      scrollbar-track-color: rgba(216, 216, 216, 0.65); }
    .central-unit__base .memory::before {
      display: block;
      position: absolute;
      left: 10px;
      top: 4px;
      content: attr(data-top-name) ":"; }
    .central-unit__base .memory::after {
      display: block;
      position: absolute;
      left: 10px;
      bottom: 4px;
      content: attr(data-down-name) ":"; }
    .central-unit__base .memory__address {
      position: absolute;
      top: -31px;
      left: -1px;
      margin-top: 30px;
      border-right: none;
      border-left: none; }
    .central-unit__base .memory__verbal {
      position: absolute;
      bottom: -1px;
      left: -1px;
      margin-top: 30px;
      border-right: none;
      border-left: none; }
    .central-unit__base .memory__table {
      display: block;
      overflow-y: scroll;
      width: 100%;
      height: 145px;
      margin: 23px 0; }
      .central-unit__base .memory__table--row {
        position: relative;
        display: block;
        height: 20px;
        width: 100%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        .central-unit__base .memory__table--row:hover {
          background: rgba(0, 0, 0, 0.3);
          cursor: pointer; }
        .central-unit__base .memory__table--row:nth-child(even) {
          background: rgba(0, 0, 0, 0.05); }
          .central-unit__base .memory__table--row:nth-child(even):hover {
            background: rgba(0, 0, 0, 0.3);
            cursor: pointer; }
      .central-unit__base .memory__table--cell {
        display: inline-block;
        width: 20%;
        padding: 2px 0;
        text-align: center;
        white-space: nowrap; }
        .central-unit__base .memory__table--cell:last-of-type {
          padding-left: 40%; }
      .central-unit__base .memory__table__data {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 20px;
        padding: 2px 50% 2px 25%;
        background: none;
        border: none;
        outline: none;
        text-align: center;
        font-size: 12px;
        font-family: "Helvetica Neue", "Lato", sans-serif;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        .central-unit__base .memory__table__data:focus {
          background: rgba(255, 0, 0, 0.3); }
  .central-unit__base .counter {
    border: none;
    position: absolute;
    top: 50px;
    left: 40px;
    width: 100px; }
    .central-unit__base .counter::after {
      display: block;
      position: absolute;
      left: 10px;
      bottom: 6px;
      content: attr(data-name) ":"; }
  .central-unit__base .address {
    border: none;
    position: absolute;
    bottom: 50px;
    left: 100px;
    width: 100px; }
    .central-unit__base .address::after {
      display: block;
      position: absolute;
      left: 10px;
      bottom: 6px;
      content: attr(data-name) ":"; }
  .central-unit__base .bus-connection {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 240px;
    width: 60px; }

.central-unit__extension {
  position: relative;
  height: 55px;
  width: 100%; }

.central-unit__extension {
  position: relative;
  height: 55px;
  width: 100%; }

.register, .register-x, .register-y, .extension-rb, .extension-g, .extension-ws, .extension-f {
  border: none;
  background: none;
  position: absolute;
  width: 100px;
  height: 25px; }
  .register:hover, .register-x:hover, .register-y:hover, .extension-rb:hover, .extension-g:hover, .extension-ws:hover, .extension-f:hover {
    background: none; }
  .register:focus, .register-x:focus, .register-y:focus, .extension-rb:focus, .extension-g:focus, .extension-ws:focus, .extension-f:focus {
    background: none; }
  .register::after, .register-x::after, .register-y::after, .extension-rb::after, .extension-g::after, .extension-ws::after, .extension-f::after {
    display: block;
    position: absolute;
    z-index: 3;
    left: 10px;
    bottom: -20px; }
  .register .element__data, .register-x .element__data, .register-y .element__data, .extension-rb .element__data, .extension-g .element__data, .extension-ws .element__data, .extension-f .element__data, .register .central-unit__base .acumulator__data, .central-unit__base .register .acumulator__data, .register-x .central-unit__base .acumulator__data, .central-unit__base .register-x .acumulator__data, .register-y .central-unit__base .acumulator__data, .central-unit__base .register-y .acumulator__data, .extension-rb .central-unit__base .acumulator__data, .central-unit__base .extension-rb .acumulator__data, .extension-g .central-unit__base .acumulator__data, .central-unit__base .extension-g .acumulator__data, .extension-ws .central-unit__base .acumulator__data, .central-unit__base .extension-ws .acumulator__data, .extension-f .central-unit__base .acumulator__data, .central-unit__base .extension-f .acumulator__data, .register .central-unit__base .memory__address, .central-unit__base .register .memory__address, .register-x .central-unit__base .memory__address, .central-unit__base .register-x .memory__address, .register-y .central-unit__base .memory__address, .central-unit__base .register-y .memory__address, .extension-rb .central-unit__base .memory__address, .central-unit__base .extension-rb .memory__address, .extension-g .central-unit__base .memory__address, .central-unit__base .extension-g .memory__address, .extension-ws .central-unit__base .memory__address, .central-unit__base .extension-ws .memory__address, .extension-f .central-unit__base .memory__address, .central-unit__base .extension-f .memory__address, .register .central-unit__base .memory__verbal, .central-unit__base .register .memory__verbal, .register-x .central-unit__base .memory__verbal, .central-unit__base .register-x .memory__verbal, .register-y .central-unit__base .memory__verbal, .central-unit__base .register-y .memory__verbal, .extension-rb .central-unit__base .memory__verbal, .central-unit__base .extension-rb .memory__verbal, .extension-g .central-unit__base .memory__verbal, .central-unit__base .extension-g .memory__verbal, .extension-ws .central-unit__base .memory__verbal, .central-unit__base .extension-ws .memory__verbal, .extension-f .central-unit__base .memory__verbal, .central-unit__base .extension-f .memory__verbal {
    margin-top: -3px;
    background: #F5F5F3; }
    .register .element__data:hover, .register-x .element__data:hover, .register-y .element__data:hover, .extension-rb .element__data:hover, .extension-g .element__data:hover, .extension-ws .element__data:hover, .extension-f .element__data:hover, .register .central-unit__base .acumulator__data:hover, .central-unit__base .register .acumulator__data:hover, .register-x .central-unit__base .acumulator__data:hover, .central-unit__base .register-x .acumulator__data:hover, .register-y .central-unit__base .acumulator__data:hover, .central-unit__base .register-y .acumulator__data:hover, .extension-rb .central-unit__base .acumulator__data:hover, .central-unit__base .extension-rb .acumulator__data:hover, .extension-g .central-unit__base .acumulator__data:hover, .central-unit__base .extension-g .acumulator__data:hover, .extension-ws .central-unit__base .acumulator__data:hover, .central-unit__base .extension-ws .acumulator__data:hover, .extension-f .central-unit__base .acumulator__data:hover, .central-unit__base .extension-f .acumulator__data:hover, .register .central-unit__base .memory__address:hover, .central-unit__base .register .memory__address:hover, .register-x .central-unit__base .memory__address:hover, .central-unit__base .register-x .memory__address:hover, .register-y .central-unit__base .memory__address:hover, .central-unit__base .register-y .memory__address:hover, .extension-rb .central-unit__base .memory__address:hover, .central-unit__base .extension-rb .memory__address:hover, .extension-g .central-unit__base .memory__address:hover, .central-unit__base .extension-g .memory__address:hover, .extension-ws .central-unit__base .memory__address:hover, .central-unit__base .extension-ws .memory__address:hover, .extension-f .central-unit__base .memory__address:hover, .central-unit__base .extension-f .memory__address:hover, .register .central-unit__base .memory__verbal:hover, .central-unit__base .register .memory__verbal:hover, .register-x .central-unit__base .memory__verbal:hover, .central-unit__base .register-x .memory__verbal:hover, .register-y .central-unit__base .memory__verbal:hover, .central-unit__base .register-y .memory__verbal:hover, .extension-rb .central-unit__base .memory__verbal:hover, .central-unit__base .extension-rb .memory__verbal:hover, .extension-g .central-unit__base .memory__verbal:hover, .central-unit__base .extension-g .memory__verbal:hover, .extension-ws .central-unit__base .memory__verbal:hover, .central-unit__base .extension-ws .memory__verbal:hover, .extension-f .central-unit__base .memory__verbal:hover, .central-unit__base .extension-f .memory__verbal:hover {
      background: rgba(0, 0, 0, 0.3); }
    .register .element__data:focus, .register-x .element__data:focus, .register-y .element__data:focus, .extension-rb .element__data:focus, .extension-g .element__data:focus, .extension-ws .element__data:focus, .extension-f .element__data:focus, .register .central-unit__base .acumulator__data:focus, .central-unit__base .register .acumulator__data:focus, .register-x .central-unit__base .acumulator__data:focus, .central-unit__base .register-x .acumulator__data:focus, .register-y .central-unit__base .acumulator__data:focus, .central-unit__base .register-y .acumulator__data:focus, .extension-rb .central-unit__base .acumulator__data:focus, .central-unit__base .extension-rb .acumulator__data:focus, .extension-g .central-unit__base .acumulator__data:focus, .central-unit__base .extension-g .acumulator__data:focus, .extension-ws .central-unit__base .acumulator__data:focus, .central-unit__base .extension-ws .acumulator__data:focus, .extension-f .central-unit__base .acumulator__data:focus, .central-unit__base .extension-f .acumulator__data:focus, .register .central-unit__base .memory__address:focus, .central-unit__base .register .memory__address:focus, .register-x .central-unit__base .memory__address:focus, .central-unit__base .register-x .memory__address:focus, .register-y .central-unit__base .memory__address:focus, .central-unit__base .register-y .memory__address:focus, .extension-rb .central-unit__base .memory__address:focus, .central-unit__base .extension-rb .memory__address:focus, .extension-g .central-unit__base .memory__address:focus, .central-unit__base .extension-g .memory__address:focus, .extension-ws .central-unit__base .memory__address:focus, .central-unit__base .extension-ws .memory__address:focus, .extension-f .central-unit__base .memory__address:focus, .central-unit__base .extension-f .memory__address:focus, .register .central-unit__base .memory__verbal:focus, .central-unit__base .register .memory__verbal:focus, .register-x .central-unit__base .memory__verbal:focus, .central-unit__base .register-x .memory__verbal:focus, .register-y .central-unit__base .memory__verbal:focus, .central-unit__base .register-y .memory__verbal:focus, .extension-rb .central-unit__base .memory__verbal:focus, .central-unit__base .extension-rb .memory__verbal:focus, .extension-g .central-unit__base .memory__verbal:focus, .central-unit__base .extension-g .memory__verbal:focus, .extension-ws .central-unit__base .memory__verbal:focus, .central-unit__base .extension-ws .memory__verbal:focus, .extension-f .central-unit__base .memory__verbal:focus, .central-unit__base .extension-f .memory__verbal:focus {
      background: rgba(255, 0, 0, 0.3); }

.register-x {
  left: 50px; }
  .register-x::after {
    content: attr(data-name) ":"; }

.register-y {
  left: 225px; }
  .register-y::after {
    content: attr(data-name) ":"; }

.extension-rb {
  left: 400px; }
  .extension-rb::after {
    content: attr(data-name) ":"; }

.extension-g {
  left: 575px; }
  .extension-g::after {
    content: attr(data-name) ":"; }

.extension-ws {
  left: 550px;
  top: 8px; }
  .extension-ws::after {
    content: attr(data-name) ":";
    top: 3px; }
  .extension-ws .element__data, .extension-ws .central-unit__base .acumulator__data, .central-unit__base .extension-ws .acumulator__data, .extension-ws .central-unit__base .memory__address, .central-unit__base .extension-ws .memory__address, .extension-ws .central-unit__base .memory__verbal, .central-unit__base .extension-ws .memory__verbal {
    position: absolute;
    top: 0;
    left: 0; }
  .extension-ws svg {
    height: 50px;
    width: 250px;
    margin-left: -50px;
    z-index: 1; }

.aritmetical-operations {
  position: absolute;
  top: 200px;
  left: 290px;
  width: 85px;
  height: 100px; }

.logical-operations {
  position: absolute;
  top: 135px;
  left: 525px;
  width: 75px;
  height: 100px; }

.extension-iak {
  position: absolute;
  top: 85px;
  left: 300px;
  width: 75px;
  height: 30px; }

.extension-dak {
  position: absolute;
  top: 85px;
  left: 525px;
  width: 75px;
  height: 30px; }

.extension-f {
  left: 375px;
  top: 69px; }
  .extension-f::after {
    content: attr(data-name) ":";
    top: 3px; }
  .extension-f .element__data, .extension-f .central-unit__base .acumulator__data, .central-unit__base .extension-f .acumulator__data, .extension-f .central-unit__base .memory__address, .central-unit__base .extension-f .memory__address, .extension-f .central-unit__base .memory__verbal, .central-unit__base .extension-f .memory__verbal {
    position: absolute;
    top: 0;
    left: 0; }
  .extension-f svg {
    height: 50px;
    width: 250px;
    margin-left: -50px;
    z-index: 1; }

.type {
  width: 30%;
  float: left; }

.extensions {
  display: inline-block;
  width: 40%; }

.control-panel {
  margin: 30px auto; }

.collapse-headline {
  display: block;
  width: 100%;
  padding: 10px;
  text-decoration: none; }
  .collapse-headline:hover, .collapse-headline:focus {
    text-decoration: none; }

.panel-heading--clear {
  padding: 0px; }

.area-height {
  min-height: 200px; }

.checkbox--clear {
  margin-top: 0;
  margin-bottom: 0; }

.hand-controls {
  background-color: #ddd; }
  .checkbox .hand-controls {
    padding-left: 30px; }

/* ------------------------------------------------------------------
	SECTION - Forum
--------------------------------------------------------------------- */
section.forum {
  margin-top: 25px;
  width: 100%;
  padding: 20px;
  background-color: #FFF;
  font-size: 12px;
  color: #AFA4A4; }
  section.forum .table-category .category-header {
    padding-top: 12px;
    padding-left: 20px;
    background-color: #9F9F9F; }
    section.forum .table-category .category-header h3 {
      margin: 0;
      font-size: 20px;
      line-height: 40px;
      color: white; }
  section.forum .table-category .title-header {
    padding-left: 20px; }
  section.forum .table-category .count-header {
    text-align: center; }
  section.forum .table-category .last-header {
    text-align: center; }
  section.forum .table-category .topic-headline {
    font-size: 16px;
    color: #4A90E2; }
  section.forum .table-category .topic-footer {
    color: #AFA4A4; }
  section.forum .table-category tr {
    height: 50px; }
    section.forum .table-category tr .col-content {
      max-width: 100%;
      padding-left: 20px; }
      section.forum .table-category tr .col-content h4 {
        font-size: 18px; }
    section.forum .table-category tr .col-views {
      width: 120px;
      line-height: 50px;
      text-align: center; }
    section.forum .table-category tr .col-post {
      width: 200px;
      height: 50px;
      padding-top: 20px;
      text-align: center; }

/* ------------------------------------------------------------------
	SECTION - Register/Login
--------------------------------------------------------------------- */
section.login-form,
section.register-form {
  margin-top: 50px;
  display: block; }
  section.login-form h3.signup, section.login-form h3.signin,
  section.register-form h3.signup,
  section.register-form h3.signin {
    text-align: center; }
  section.login-form .alert,
  section.register-form .alert {
    line-height: 24px; }
    section.login-form .alert .glyphicon,
    section.register-form .alert .glyphicon {
      display: block;
      float: left;
      font-size: 24px;
      line-height: 24px;
      margin-right: 15px; }
  section.login-form .alert:not(.alert-info),
  section.register-form .alert:not(.alert-info) {
    display: none; }
  section.login-form form,
  section.register-form form {
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 40px;
    border: 1px solid #dfdada; }
    section.login-form form .form-container,
    section.register-form form .form-container {
      margin: 0 auto;
      border-collapse: collapse; }
      section.login-form form .form-container .form-field,
      section.register-form form .form-container .form-field {
        padding-top: 10px; }
        section.login-form form .form-container .form-field td,
        section.register-form form .form-container .form-field td {
          padding: 5px 0px; }
        section.login-form form .form-container .form-field td:first-child,
        section.register-form form .form-container .form-field td:first-child {
          color: #6c6c6c;
          font-size: 12px;
          font-weight: bold;
          padding-right: 20px; }
  section.login-form .login-button,
  section.login-form .register-button,
  section.register-form .login-button,
  section.register-form .register-button {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    margin-top: 50px;
    border: 0px;
    background-color: #4A90E2;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: #FFF;
    letter-spacing: 2px;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease; }
    section.login-form .login-button:hover,
    section.login-form .register-button:hover,
    section.register-form .login-button:hover,
    section.register-form .register-button:hover {
      background-color: #60A9FF; }
  section.login-form .info,
  section.register-form .info {
    margin: 0;
    margin-top: 40px;
    text-align: center; }

section.login-form .alert:not(.alert-info) {
  display: block; }

/* ------------------------------------------------------------------
	SECTION - Register/create topic status
--------------------------------------------------------------------- */
section.register-successful .alert,
section.createTopic-successful .alert {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px; }
  section.register-successful .alert .glyphicon,
  section.createTopic-successful .alert .glyphicon {
    display: block;
    float: left;
    font-size: 32px;
    margin-right: 15px; }

/* ------------------------------------------------------------------
	SECTION - Create topic
--------------------------------------------------------------------- */
section.create-topic {
  margin-top: 25px; }
  section.create-topic input[type=text] {
    padding: 0px 15px;
    font-size: 32px;
    color: #4A90E2; }
  section.create-topic input[type=text], section.create-topic #topic-body {
    width: 100%;
    margin-bottom: 15px; }
  section.create-topic input[type=submit] {
    width: 100%;
    background-color: #4A90E2;
    border: 0px solid #4A90E2;
    color: white;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px; }
  section.create-topic .alert-danger:not(.alert-danger-sql) {
    display: none; }

/* ------------------------------------------------------------------
	NAVBAR
--------------------------------------------------------------------- */
#navbar {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 0px;
  background-color: #4A90E2; }
  #navbar .glyphicon {
    margin-right: 10px; }
  #navbar .active a {
    background-color: #60A9FF; }
  #navbar a {
    color: #FFF;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease; }
    #navbar a:hover:not(.navbar-brand) {
      background-color: #60A9FF; }
  #navbar .dropdown .dropdown-menu {
    border-radius: 0px;
    background-color: #60A9FF; }
    #navbar .dropdown .dropdown-menu a {
      font-size: 11px;
      line-height: 30px;
      font-weight: 600; }
      #navbar .dropdown .dropdown-menu a:hover {
        background-color: #FFF;
        color: #60A9FF; }
  #navbar .dropdown .dropdown-toggle {
    background-color: #4A90E2; }

/* ------------------------------------------------------------------
	FOOTER
--------------------------------------------------------------------- */
footer.footer-site {
  margin-top: 50px;
  text-align: center;
  font-size: 12px;
  color: #AFA4A4; }

/* ------------------------------------------------------------------
	SECTION - W Machine
   ------------------------------------------------------------------ */
section.w-machine {
  padding: 20px;
  margin: 10px;
  background-color: #FFF;
  border-top: 0px solid #60A9FF;
  border-bottom: 0px solid #60A9FF; }
