html, body { 
	margin: 0; 
	padding: 0; 
	font-family: $base-font;
	background-color: #F5F5F3;
  	-moz-osx-font-smoothing: grayscale;
  	 -webkit-font-smoothing: antialiased;
	padding-top: 25px; // make space for navbar
}

svg {
	height: 100%;
	width: 100%;
}

.wrap {
	max-width: $wrap-width;
	min-width: 920px;
	margin: 0 auto;
}

.vertical-center-table {
	display: table;
	height: 100%;
	width: 100%;

	.vertical-center-cell {
		display: table-cell;
		vertical-align: center;
		width: 100%;
	}
}