.control-panel {
	margin: 30px auto;
}

.collapse-headline {
	display: block;
	width: 100%;
	padding: 10px;
	text-decoration: none;

	&:hover, &:focus {
		text-decoration: none;
	}
}

.panel-heading--clear {
	padding: 0px;
}

.area-height {
	min-height: 200px;
}

.checkbox--clear {
	margin-top: 0;
	margin-bottom: 0;
}

.hand-controls {
	position: relative;
	border: 1px solid $gray;
	background-color: $bg-panel;
	border-radius: 4px;
	margin-bottom: 25px;
	height: 40px;
	padding: 8px 15px;
	cursor: pointer;

	&:hover {
		border-color: $gray-hover;
		background-color: $bg-panel-hover
	}

	span {
		position: absolute;
		margin-top: 2px;
		padding: 0 10px;
		font-weight: normal;
	}
}

.panel--smaller {
	display: inline-block;
	width: 70%;
}

.btn-tact {
	padding: 9px;
	width: 100%;
	text-transform: uppercase;
}

.btn-accept {
	width: 48%;
	margin-right: 3.47%;
}

.btn-discard {
	width: 48%;
}

.panel-title {
	font-size: 14px;
}

label, span {
	font-size: 12px;
}

#accept-bit-count-change {
	width: 100%;
	margin-top: 10px;
}

.tab-content {
	padding: 10px;
	border: 1px solid $gray;
	margin-top: -1px;
}

.panel-group {
	margin-bottom: 0px;
}

.btn-controls {
	font-size: 0;

	button {
		width: 20%;
		border-radius: 0;
  		margin: 0 -1px;
  		border-color: $gray;

  		&:hover {
			z-index: 2;
			position: relative;
  		}
	}

	button:last-of-type {
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
  		margin: 0;
	}

	button:first-of-type {
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
  		margin: 0;
	}
}

.col-hand-controls {
	padding-right: 0;
}
