.control-panel {
	margin: 30px auto;
}

.collapse-headline {
	display: block;
	width: 100%;
	padding: 10px;
	text-decoration: none;

	&:hover, &:focus {
		text-decoration: none;
	}
}

.panel-heading--clear {
	padding: 0px;
}

.area-height {
	min-height: 200px;
}

.checkbox--clear {
	margin-top: 0;
	margin-bottom: 0;
}

.hand-controls {
	background-color: $other-tab;


	.checkbox & {
		padding-left: 30px;
	}
}

.panel--smaller {
	display: inline-block;
	width: 70%;
}

.btn-tact {
	margin: 10px 0.5%;
	padding: 9px;
	width: 28.5%;
	text-transform: uppercase;
}
