
/* ------------------------------------------------------------------
	SECTION - Forum navigation
--------------------------------------------------------------------- */

nav.nav-forum {
	width: 100%;
	height: 50px;
	margin-top: 25px; 
	padding: 0px 25px;
	background-color: darken(#9F9F9F, 20%);

	.container-fluid, .row { height: 100%; }
	.glyphicon { margin-left: 15px; }

	ul {
		margin: 0;
		padding: 0;
		height: 100%;

		li {
			display: inline;
			margin: 0;
			padding: 0;
			height: 100%;
			list-style: none;
			line-height: 50px;
			letter-spacing: 2px;
			font-weight: bold;
			text-transform: uppercase;
			color: white;
			
			a { 
				height: 100%;
				height: 50px;
				line-height: 50px;
				font-weight: normal;
				letter-spacing: 0px;
				text-transform: lowercase;
				padding: 25px 15px;
				color: white;
				@include transition(background-color 0.5s);

				&:hover { 
					background-color: $color-blue;
					text-decoration: none; 
				}
			}
		}
	}
}

/* ------------------------------------------------------------------
	SECTION - Forum
--------------------------------------------------------------------- */

section.forum {
	// margin-top: 25px;
	width: 100%;
	padding: 20px;
	background-color: white;
	font-size: 12px;
	color: #AFA4A4;

	.table-category {	
		
		.category-header {
			padding-top: 12px;
			padding-left: 20px;
			background-color: #9F9F9F;

			h3 {
				margin: 0;
				font-size: 20px;
				line-height: 40px;
				color: white;
			}		
		}

		.title-header { padding-left: 20px; }
		.count-header { text-align: center; }
		.last-header { text-align: center; }

		.topic-headline {
			font-size: 16px;
			color: $color-blue;
		}

		.topic-footer {
			color: gray;
		}

		tr {
			$row-height: 50px;

			height: $row-height;

			.col-content {
				h4 { font-size: 18px; }
				max-width: 100%;
				padding-left: 20px;
			}

			.col-views {
				width: 120px;
				line-height: $row-height;
				text-align: center;
			}

			.col-post {
				width: 200px;
				height: $row-height;
				padding-top: $row-height / 2.5;
				text-align: center;
			}
		}
	}
}

/* ------------------------------------------------------------------
	SECTION - Register/Login
--------------------------------------------------------------------- */

section.login-form,
section.register-form {
	margin-top: 50px;
	display: block;

	h3.signup, h3.signin {
		text-align: center;
	}

	.alert {
		line-height: 24px;

		.glyphicon {
			display: block;
			float: left;
			font-size: 24px;
			line-height: 24px;
			margin-right: 15px;
		}
	}

	.alert:not(.alert-info) { display: none; } 


	form {
		width: 400px;
		margin: 0 auto;
		margin-top: 20px;
		padding: 40px;
		border: 1px solid lighten(#AFA4A4, 20%);

		.form-container {
			margin: 0 auto;
			border-collapse: collapse;

			.form-field {
				padding-top: 10px;

				td { padding: 5px 0px }

				td:first-child {
					color: darken(#9F9F9F, 20%);
					font-size: 12px;
					font-weight: bold;
					padding-right: 20px;
				}
			}
		}
	}

	.login-button,
	.register-button {
		display: block;
		width: 100%;
		height: 40px;
		line-height: 40px;
		margin: 0 auto;
		margin-top: 50px;
		border: 0px;	

		background-color: $color-blue;
		text-align: center;
		text-transform: uppercase;
		font-size: 12px;
		color: #FFF;
		letter-spacing: 2px;

		@include transition(background-color 0.5s ease);

		&:hover {
			background-color: $bg-navbar-active;
		}

	}

	.info {
		margin: 0;
		margin-top: 40px;
		text-align: center;
	}
}

section.login-form { .alert:not(.alert-info) { display: block; }  }


/* ------------------------------------------------------------------
	SECTION - status
--------------------------------------------------------------------- */

section.status {

	.alert {
		max-width: 600px;
		margin: 0 auto;
		margin-top: 50px;

		.glyphicon {
			display: block;
			float: left;
			font-size: 32px;
			margin-right: 15px;
		}
	}
}


/* ------------------------------------------------------------------
	SECTION - Create topic
--------------------------------------------------------------------- */

section.create-topic {
	margin-top: 25px;

	input[type=text] {
		padding: 0px 15px;
		font-size: 32px;
		color: $color-blue;
	}

	input[type=text], #topic-body {
		width: 100%;
		margin-bottom: 15px;
	}

	input[type=submit] {
		width: 100%;
		background-color: $color-blue;
		border: 0px solid $color-blue;
		color: white;
		height: 50px;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
	}

	.alert-danger:not(.alert-danger-sql) { display: none; }
}