/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  margin-left: 4px;
  float: left;
  width: 130px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  border-left: none;
  margin-right: -126px;
  width: 130px;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  margin-bottom: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  text-transform: uppercase;
  font-size: 11px;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}


.tabs-right {
  .tab-content {  
    margin: -11px 4px 0;
    border-bottom: none;
    border-top: none;
    border-right: none;
    font-size: 13px;

    textarea {
      max-width: 100%;
      min-width: 100%;
      min-height: 180px;
      font-size: 12px;
    }

    input, select {
      font-size: 12px;
    }
  }
}

.clear-bottom {
  padding: 10px 10px 0;
}

.form-space {
  margin-bottom: 10px;
}

.tab-content--with-tabs {
  margin-right: 130px;
}

#rightTab {
  margin-right: 130px;
}

.button-group {
  font-size: 0;

  button {
    border-radius: 0;
    margin: 0 -1px;
    border-color: $gray;

    &:hover {
      z-index: 2;
      position: relative;
    }
  }

  button:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  button:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

.btn-right, .btn-right:hover {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.border-right--clear {
  border-right: none;
} 
