
/* ------------------------------------------------------------------
	FOOTER
--------------------------------------------------------------------- */

footer.footer-site {
	margin-top: 50px;
	text-align: center;
	font-size: 12px;
	color: gray;
}