/*
Errno::ENOENT: No such file or directory - sass/style.scss

Backtrace:
c:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/sass-3.4.12/lib/sass/plugin/compiler.rb:482:in `read'
c:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/sass-3.4.12/lib/sass/plugin/compiler.rb:482:in `update_stylesheet'
c:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/sass-3.4.12/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
c:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/sass-3.4.12/lib/sass/plugin/compiler.rb:209:in `each'
c:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/sass-3.4.12/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
c:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/sass-3.4.12/lib/sass/plugin/compiler.rb:293:in `watch'
c:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/sass-3.4.12/lib/sass/plugin.rb:108:in `method_missing'
c:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/sass-3.4.12/lib/sass/exec/sass_scss.rb:381:in `watch_or_update'
c:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/sass-3.4.12/lib/sass/exec/sass_scss.rb:51:in `process_result'
c:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/sass-3.4.12/lib/sass/exec/base.rb:52:in `parse'
c:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/sass-3.4.12/lib/sass/exec/base.rb:19:in `parse!'
c:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/sass-3.4.12/bin/sass:13:in `<top (required)>'
c:/RailsInstaller/Ruby2.0.0/bin/sass:23:in `load'
c:/RailsInstaller/Ruby2.0.0/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - sass/style.scss"; }
